In [103]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [104]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [105]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [106]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# june_month = dt.date(2017, 6, 1) + dt.timedelta(days=30)
june_temps = session.query(Measurement.date).filter(extract('month', Measurement.date) == 6)

In [107]:
#  3. Convert the June temperatures to a list.
# results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june_month).all()
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june_temps).all()

In [108]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','temperature'])
df.set_index(df['date'], inplace=True)

In [109]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = df.sort_index()
df.describe()

        temperature
count  18472.000000
mean      73.252815
std        4.499865
min       53.000000
25%       70.000000
50%       74.000000
75%       76.000000
max       87.000000

## D2: Determine the Summary Statistics for December

In [117]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp = session.query(Measurement.date).filter(extract('month', Measurement.date) == 12)

In [118]:
# 7. Convert the December temperatures to a list.
results_dec = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= dec_temp).all()

In [122]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(results_dec, columns=['date','temperature'])
dec_df.set_index(dec_df['date'])

                  date  temperature
date
2010-12-01  2010-12-01         76.0
2010-12-03  2010-12-03         74.0
2010-12-04  2010-12-04         74.0
2010-12-06  2010-12-06         64.0
2010-12-07  2010-12-07         64.0
...                ...          ...
2017-08-19  2017-08-19         71.0
2017-08-20  2017-08-20         78.0
2017-08-21  2017-08-21         76.0
2017-08-22  2017-08-22         76.0
2017-08-23  2017-08-23         76.0

[17001 rows x 2 columns]

In [123]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df = dec_df.sort_index()
dec_df.describe()

        temperature
count  17001.000000
mean      73.156638
std        4.584538
min       53.000000
25%       70.000000
50%       73.000000
75%       76.000000
max       87.000000